* {
  background: #1A1E1CDA;
  background-alt: #ADA593;
  foreground: #FFF7E5;
  foreground-alt: #F7EBD2;
  primary: #72BE44;
  secondary: #B2B9C2;
  accent: #FFE8B5;
  urgent: #4C9272;
  spacing: 0;
  background-color: transparent;
  text-color: @foreground;
}
