* {
    /* `otf-font-awesome` and SpaceMono Nerd Font are required to be installed for icons */
    font-family: "Unifont";
    font-size: 13px;
    transition: background-color .3s ease-out;
}

window#waybar {
    background-color: transparent;
    color: @foreground;
    transition: background-color .5s;
}

.modules-left,
.modules-center,
.modules-right
{
    background: @background;
    margin: 5px 10px;
    padding: 0 5px;
}
.modules-left {
    padding: 0;
}
.modules-center {
    padding: 0 10px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#language,
#mpd {
    padding: 0 10px;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#tray:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#power-profiles-daemon:hover,
#language:hover,
#mpd:hover {
    background: @bg_lighter;
}


#workspaces button {
  background: transparent;
  font-weight: 900;
  font-size: 13pt;
  color: @foreground;
  border:none;
}

#workspaces button.active {
    background: @bg_lightest;
}

#workspaces button:hover {
  background: @bg_lighter;
  color: @foreground;
  box-shadow: none;
}

#custom-arch {
    margin-left: 5px;
    padding: 0 10px;
    font-size: 25px;
    transition: color .5s;
}
