@import "colors.css";

* {
    /* `otf-font-awesome` and SpaceMono Nerd Font are required to be installed for icons */
    all: unset; /*this is really important to isolate waybar from gtk*/
    font-family: "Unifont, Noto Sans, Symbols Nerd Font";
    font-size: 15px;
    transition: background-color .3s ease-out;
}

window#waybar {
    background: transparent;
    color: @foreground;
    transition: background-color .5s;
    padding: 0 10px;
}

tooltip {
    background: alpha(@background, 0.7);
    margin-top: 10px;
    border-radius: 5px;
}

box.module {
  padding: 0 10px;
}


.modules-left,
.modules-center,
.modules-right {
  background: @background;
  border-radius: 5px;
  padding: 4px 10px;
}

#workspaces button {
  background: @background;
  font-weight: 900;
  font-size: 13pt;
  color: @foreground;
  padding: 4px;
  border-radius: 5px;
  border:none;
}

#workspaces button.active {
    background: @foreground;
    color: @background;
}

#workspaces button:hover {
  background: @background;
  color: @foreground;
  box-shadow: none;
}
