* {
    selected-text:	#454946;
    selected-background: #72BE44;

    prompt-text: #454946;
    prompt-background: transparent;

    normal-text: #FFF7E5;
    normal-background: transparent;

    window-border: #72BE44;
    window-background: #FFE8B50D;

    scrollbar-filled: #72BE44;
    scrollbar-empty: #454946;

    error-message: #F7EBD2;
    error-message-border: #F7EBD2;
}
