* {
  background: {{background}};
  background-alt: {{color8}};
  foreground: {{foreground}};
  foreground-alt: {{color7}};
  primary: {{color4}};
  secondary: {{color5}};
  accent: {{color6}};
  urgent: {{color1}};
  spacing: 0;
  background-color: transparent;
  text-color: @foreground;
}
